<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>Game review</title>

    <!-- Bootstrap core CSS -->
    <base href="/">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../css/fontawesome.css">
    <link rel="stylesheet" href="../css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="../css/owl.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    
</head>
  <body>
    <div class="container">
      {{! HEADER }}
      {{> header user }}

      <div class="contentContainer">
        <h1>Admin Dashboard</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi fugiat repellat dolor rerum officiis vel labore odit ipsa dolorum, nesciunt non eaque ratione animi? Eos a nulla doloribus facilis fugit?</p>
      </div>

      {{> footer user }}
    </div>
  </body>
</html>