<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
           <p>
            <a href="/">Home</a> | 
            <a href="/contact">Contact</a> |
            <a href="/about">About Us</a> |
            {{#if user.username }}
            <a href="/profile">Profile</a> |
            <a href="/dashboard">Dashboard</a> |
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/register">Register</a> |
            <a href="/login">Login</a>
            {{/if}}
            <br/>
            &copy;2023 Pixel Pioneers = CAP805
            <br>Design: Greg, Elisa, Ian and William
            </p>
        </div>
      </div>
    </div>
  </footer>