<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - CAP805 Winter 2023 </title>
    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <div class="container">
      {{! HEADER }}
      {{> header user }}

      <div class="contentContainer">
        <h1>Cap805 winter 2023 Dashboard</h1>
        <h2>Welcome <em>{{user.username}}</em></h2>
        <p>Email: {{user.email}}</p>
        <p>You should only see this page when you are logged in.</p>
      </div>

      {{> footer user }}
    </div>
  </body>
</html>