<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - CAP805 Winter 2023 </title>
    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <div class="container">
      {{! HEADER }}
      {{> header user }}

      <div class="contentContainer">
        <h1>Cap805 winter 2023 Homepage</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi fugiat repellat dolor rerum officiis vel labore odit ipsa dolorum, nesciunt non eaque ratione animi? Eos a nulla doloribus facilis fugit?</p>
      </div>

      {{> footer user }}
    </div>
  </body>
</html>