<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>Game review</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="css/fontawesome.css">
  <link rel="stylesheet" href="css/templatemo-cyborg-gaming.css">
  <link rel="stylesheet" href="css/owl.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>


  {{> header user }}

  <div class="container">
    <div class="page-content">
      <div class="heading-section">
        <h4>Register</h4>
        {{#if errorMsg}}
            <h5>{{errorMsg}}</h5>
        {{/if}}
      </div>
      <!-- CONTENT -->
      <div class="gaming-library">
        <div class="row">
          <div class="col-lg-12">
             
            <form method="post" action="/register">
              <label class="fixed label" style="color: aliceblue; width: 100px; text-align: center;">Username</label>
              <input name="username" type="text">
              <br />
              <label class="fixed label" style="color: aliceblue; width: 100px; text-align: center;">Password</label>
              <input name="password" type="password">
              <br />
              <label class="fixed label" style="color: aliceblue; width: 100px; text-align: center;">Re-enter Password</label>
              <input name="re_password" type="password">
              <br />
              <label class="fixed label" style="color: aliceblue; width: 100px; text-align: center;">Email</label>
              <input name="email" type="email">
              <br />
              
              <label class="fixed label" style="color: aliceblue; width: 100px; text-align: center;"></label>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <!-- CONTENT END -->
    </div>

    {{> footer user }}
  </div>
</body>

</html>